@model WebSignalR.Models.UserParam

@{
    ViewBag.Title = "Battle";
}

<p>Выберите противника:</p>

<div class="row">
    <div class="col-md-6">
        <select id="users" size="10">
            <option value="">пока никого нет</option>
        </select>
        <button id="selectUser">Выбрать</button>
    </div>

    <div id="user1">
        <text id="name1">@Model.Name</text>
        <text id="hp1">HP=@Model.HP</text>
        <text id="mp1">MP=@Model.MP</text>
    </div>

    <div id="user2" hidden="hidden">
        <text id="name2"></text>
        <text id="hp2">HP=</text>
        <text id="mp2">MP=</text>
    </div>

    <button id="btHit">Удар</button>
    <button id="btMagic">Магия</button>
</div>

<label id="message"></label>

<div class="row" id="inviteToBattle" hidden="hidden">
    <button id="acceptBattleButton">Принять бой</button>
    <button id="canselBattleButton">Отменить</button>
</div>

<div class="row" id="requestToBattle" hidden="hidden">
    <button id="canselRequestButton">Отменить</button>
</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
    var selectUserId;

    $(function () {
        var chat = $.connection.battleHub;

        loadClientMethods(chat);

        $.connection.hub.start().done(function () {
            loadEvents(chat);
        });
    });

    function loadClientMethods(chat) {

        chat.client.addHit = function (hp1, mp1, hp2, mp2) {
            $('#hp1').text('HP=' + hp1);
            $('#hp2').text('HP=' + hp2);
            $('#mp1').text('MP=' + mp1);
            $('#mp2').text('MP=' + mp2);
        };

        chat.client.onConnected = function (id, userName, allUsers) {
            for (i = 0; i < allUsers.length; i++) {
                AddUser(allUsers[i].Id, allUsers[i].Name);
            }
        }

        chat.client.onNewUserConnected = function (id, name) {
            AddUser(id, name);
        }

        chat.client.onUserDisconnected = function (id) {
            $('#' + id).remove();
        }

        chat.client.inviteUser = function (userId, userName) {
            selectUserId = userId;

            $('#message').text('Вас приглашает на бой ' + userName);
            $('#inviteToBattle').removeAttr('hidden');
        }

        chat.client.canselRequest = function (userName) {
            $('#message').text(userName + ' отменил приглашение');
            $('#inviteToBattle').attr('hidden', 'hidden');
        }

        chat.client.canselBattle = function (userName) {
            $('#message').text(userName + ' отменил приглашение');
            $('#requestToBattle').attr('hidden', 'hidden');
        }

        chat.client.acceptBattle = function (userName, hp1, mp1, hp2, mp2) {
            $('#message').text('Идет бой с ' + userName);
            $('#requestToBattle').attr('hidden', 'hidden');
            $('#user2').removeAttr('hidden');

            AddHit(hp1, mp1, hp2, mp2);
        }
    }

    function loadEvents(chat) {

        $('#btHit').click(function () {
            chat.server.addHit('@User.Identity.Name', selectUserId, "Hit");
        });

        $('#btMagic').click(function () {
            chat.server.addHit('@User.Identity.Name', selectUserId, "Magic");
        });

        $('#selectUser').click(function () {
            selectUserId = $('#users :selected').val();
            if (selectUserId == '') return;

            $('#message').text('Вы пригласили на бой ' + $('#users :selected').text());
            $('#requestToBattle').removeAttr('hidden');

            chat.server.inviteSelectUser('@User.Identity.Name', selectUserId);
        });

        $('#acceptBattleButton').click(function () {
            $('#inviteToBattle').attr('hidden', 'hidden');

            chat.server.acceptBattle('@User.Identity.Name', selectUserId);
        });

        $('#canselBattleButton').click(function () {
            $('#message').text('Вы отказались от боя!')
            $('#inviteToBattle').attr('hidden', 'hidden');

            chat.server.canselBattle('@User.Identity.Name', selectUserId);
        });

        $('#canselRequestButton').click(function () {
            $('#message').text('Вы отменили приглашение!');
            $('#requestToBattle').attr('hidden', 'hidden');

            chat.server.canselRequest('@User.Identity.Name', selectUserId);
        });
    }

    @*Кодирование тегов*@
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }

    function AddUser(id, name) {
        var users = $('#users').append('<option value=' + id + ' id="' + id + '">' + name + '</option>');
    }

    function AddHit(hp1, mp1, hp2, mp2) {
        $('#hp1').text('HP=' + hp1);
        $('#hp2').text('HP=' + hp2);
        $('#mp1').text('MP=' + mp1);
        $('#mp2').text('MP=' + mp2);
    }

    $("#users").change(function () {
        selectUserId = $(this).val();
    });

</script>
}

